{% extends "internal/base.html.twig" %}

{% block title %}
    Пользователи
{% endblock %}

{% block page_header %}
    Пользователи
{% endblock %}

{% block body %}
    <a href="{{ url('user_create') }}" class="btn btn-primary btn-lg active"
        role="button" aria-pressed="true">Добавить</a>

    <table class="table">
        <tr>
            <th>Email</th>
            <th>Роли</th>
            <th></th>
        </tr>

        {% for user in list %}
            <tr>
                <td>{{ user.email }}</td>

                <td>
                    {% for role in user.roles %}
                        <span class="badge badge-secondary">
                            {{ role.value }}
                        </span>

                        <br>
                    {% endfor %}
                </td>

                <td>
                    <a href="{{ path('user_view', { "userId": user.id.id }) }}">
                        Просмотр
                    </a>

                    <a href="{{ path('user_update', { "userId": user.id.id }) }}">
                        Редактировать
                    </a>

                    <form method="post" action="{{ path('user_delete', { "userId": user.id.id }) }}">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div>
        Страница:
        <span class="badge badge-secondary">
            {{ paginator.currentPage }}
        </span>
    </div>

    <div>
        Записей на страницу:
        <span class="badge badge-secondary">
            {{ paginator.perPage }}
        </span>
    </div>

    <div>
        Всего записей:
        <span class="badge badge-secondary">
            {{ paginator.total }}
        </span>
    </div>
{% endblock %}
