{% extends "internal/base.html.twig" %}

{% block title %}
    Пользователи
{% endblock %}

{% block page_header %}
    Редактирование пользователя
{% endblock %}

{% block body %}
    {{ form(form) }}
{% endblock %}
