{% extends "internal/base.html.twig" %}

{% block title %}
    Пользователи
{% endblock %}

{% block page_header %}
    Просмотр пользователя
{% endblock %}

{% block body %}
    <table class="table">
        <tr>
            <th>ID</th>
            <td>{{ user.id.id }}</td>
        </tr>

        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>

        <tr>
            <th>Активность</th>
            <td>{{ user.isActive ? 'Да' : 'Нет' }}</td>
        </tr>

        <tr>
            <th>Роли</th>
            <td>
                {% for role in user.roles %}
                    <span class="badge badge-secondary">
                        {{ role.value }}
                    </span>

                    <br>
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock %}
